<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Department App</title>
    {% endif %}
</head>
<body>
    <div class="content-container">
        <nav>
            <span id="project-name">
                Department App
                <br>
                <span id="credits">by Oleksandr Hladyshenko</span>
            </span>
            <a href="{{ url_for('departments.departments_list') }}">Departments</a>
            <a href="{{ url_for('employees.employees_list') }}">Employees</a>
        </nav>

        <main>
            {% with errors = get_flashed_messages(category_filter=["error"]) %}
            {% if errors %}
                {% for error in errors %}
                <div class="alert alert-danger alert-dismissible mb-0" role="alert"> 
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>    
                    {{ error }}
                </div>
                {% endfor %}
            
            {% endif %}
            {% endwith %}

            {% with messages = get_flashed_messages(category_filter=["success"]) %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success alert-dismissible mb-0" role="alert"> 
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        <path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z"/>
                    </svg>
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>    
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
            {% endwith %}

            {% block content %}
            {% endblock %}
        </main>

        <footer>
            &copy; Copyright 2020 by Oleksandr Hladyshenko.
        </footer>
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>