{% extends "base.html" %}

{% block content %}
{% if response%}
<div id="modal_add_new_department" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center col-12">Fill Department Name</h4>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('departments.departments_list') }}" method="POST">
                    <input type="hidden" name="add_department" value="True">
                    <div class="form-group form-inline">
                        <label class="col-sm-3">Name</label>
                        <input type="text" class="form-control" name="department_name" required="1" 
                        minlength="2" maxlength="20">
                    </div>

                    <div class="form-group  mb-0 text-center">
                        <button class="btn btn-success" type="submit">
                            Add New Department
                        </button>
                    </div>
                </form>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>          
            </div> 
        </div>
    </div>
</div>
<div id="add-department">
    <button id="add-department-btn" type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modal_add_new_department">
        + Add Department
    </button>
</div>

<table id="employees-table">
    <thead>
        <th>Department</th>
        <th>Avg Salary</th>
        <th>Employees num</th>
        <th>action</th>
    </thead>
    {% for department in response %}
    <tr>
        <td><a href="{{ url_for('departments.department_page', department_id=department['id']) }}">{{ department['name'] }}</a></td>
        {% if department['avg_salary']%}
        <td>{{ department['avg_salary'] | round | int }}$</td>
        {% else %}
        <td>-</td>
        {% endif %}
        <td>{{ department['employees_num'] }}</td>
        <td>
            <a href="{{ url_for('departments.department_page', department_id=department['id']) }}" class="btn btn-primary btn-sm" role="button">
                Edit
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
            </a>

            <div id="modal_delete_department_{{loop.index}}" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title text-center col-12">Delete <b>{{ department['name'] }}</b> department ?</h4>
                        </div>
                        <div class="modal-body">
                            <form action="{{ url_for('departments.departments_list') }}" method="POST">
                                <input type="hidden" name="department_id" value="{{ department['id'] }}">
                                <input type="hidden" name="delete_department" value="True">
                                <div class="form-group  mb-0">
                                    <button class="btn btn-danger" type="submit">
                                        Delete
                                    </button>
                                </div>
                            </form>
                        </div>
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>          
                        </div> 
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modal_delete_department_{{loop.index}}">
                Delete
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
            </button>
        </td>
    </tr>
    {% endfor %}
</table>

{% else %}

<table id="employees-table">
    <thead>
        <th>No Data</th>
    </thead>
</table>

{% endif %}

{% endblock %}