*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    background-color: white;
}   

header {
    padding: 20px;
    text-align: center;
    background-color: lightseagreen;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

#project-name{
    display: inline-block;
    color: whitesmoke;
    font-size: 28px;
    font-weight: bold;
    margin-top: 2px;
    margin-left: 10px;
}

#credits{
    position: absolute;
    font-size: 17px;
    margin-top: -10px;
}

#department-info{
    padding: 10px;
    /* text-align: center; */
    background-color: black;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

#add-employee, #add-department{
    padding: 10px;
    text-align: right;
    background-color: black;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

#modal_add_new_employee{
    color: black;
    font-size: 16px;
    font-weight: normal;
}

#add-employee-btn{
    /* padding-left: 22px; */
    width: 140px;
    margin-right: 18px;
}

#add-department-btn{
    width: 140px;
    margin-right: 65px;
}

#add-employee-btn-dep{
    float: right;
    margin-top: 3px;
    width: 140px;
    margin-right: 35px;
}

html, body {
    height: 100%;
  }

.content-container{
    width: 60%;
    margin: 0 auto;
}

nav {
    overflow: hidden;
    background-color: lightseagreen;
}
  
nav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    font-size: 24px;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: whitesmoke;
    color: black;
    text-decoration: none;
}

table,
thead,
tr,
tbody,
th,
td {
  text-align: center;
}

#employees-table{
    border: 2px solid lightseagreen;
    border-collapse: collapse;
    border-spacing: 0;
}

#employees-table th{
    background-color: black;
    color: white;
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
}

#employees-table, th, td{
    /* border: none; */
    width: 100%;
    table-layout: fixed;
}

#employees-table tr{
    height: 35px;
}

#employees-table td{
    text-align: center;
    font-size: 16px;
}

#employees-table tr:nth-child(even){
    background-color: #f2f2f2;
}

footer {
    padding: 10px;
    text-align: center;
    background-color: lightseagreen;
    font-size: 16px;
    font-weight: bold;
    color: white;
}